<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="VR Developer Utility"
    Manufacturer="FrameSynthesis"
    Version="1.0.1"
    Scope="perUser"
    UpgradeCode="{8B04E5D8-CF7F-462C-AEC3-33D12F4D16C0}">

    <MajorUpgrade DowngradeErrorMessage="A newer version of VR Developer Utility is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="$(var.SourceDir)\VRDeveloperUtility.exe" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="LocalProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="VRDeveloperUtility">
          <Component Id="AppExecutable" Guid="{2E916B89-42D0-45D4-9479-45C1613EFDF8}">
            <File Id="AppExe" Source="$(var.SourceDir)\VRDeveloperUtility.exe" />
            <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
            <RemoveFolder Id="RemoveLocalProgramsFolder" Directory="LocalProgramsFolder" On="uninstall" />
            <RegistryValue
              Root="HKCU"
              Key="Software\FrameSynthesis\VRDeveloperUtility"
              Name="InstallPath"
              Type="string"
              Value="[INSTALLFOLDER]"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="VR Developer Utility">
        <Component Id="StartMenuShortcut" Guid="{AE7D1266-623C-4F20-A9CA-77A4FA645D1F}">
          <Shortcut
            Id="ApplicationStartMenuShortcut"
            Name="VR Developer Utility"
            Target="[INSTALLFOLDER]VRDeveloperUtility.exe"
            WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\FrameSynthesis\VRDeveloperUtility"
            Name="Installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Main" Title="VR Developer Utility" Level="1">
      <ComponentRef Id="AppExecutable" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
